.DS_Store
*.sass-cache*
*.log
*.po
*.pot
*.png
*.otf
*.ttf
*.woff
*.woff2
*.svg
*.eot
*.ico
*.mo
node_modules/
assets/stylesheets/
assets/components/
assets/javascript/vendor/
assets/javascript/foundation.js
assets/javascript/custom/demosite.js
packaged/
wpcs/
